In [1]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel'] 
grades = [76,-2,77,78,101]

In [2]:
GradeList = zip(names,grades)
df = pd.DataFrame(data = GradeList, columns=['Names', 'Grades'])

In [3]:
df

     Names  Grades
0      Bob      76
1  Jessica      -2
2     Mary      77
3     John      78
4      Mel     101

In [4]:
df.loc[df['Grades'] <= 0]

     Names  Grades
1  Jessica      -2

In [6]:
df.loc[(df['Grades'] <0,'Grades')] = 0

In [7]:
df

     Names  Grades
0      Bob      76
1  Jessica       0
2     Mary      77
3     John      78
4      Mel     101