In [21]:
import pandas as pd 
Location = r"C:\Users\maria\OneDrive\Documents\Data Visualization\all_040_in_36.P1.csv" 
df = pd.read_csv(Location, header=None)

In [22]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
1,36,040,36,NaN,NaN,NaN,NaN,NaN,New York,19378102,8108103,18976457,7679307,19378102,18976457

In [24]:
import pandas as pd 
Location = r"C:\Users\maria\OneDrive\Documents\Data Visualization\all_040_in_36.P1.csv" 
df = pd.read_csv(Location)

In [25]:
df.head()

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,36,40,36,NaN,NaN,NaN,NaN,NaN,New York,19378102,8108103,18976457,7679307,19378102,18976457