In [1]:
import pandas as pd 
names = ['Bob','Jessica','Mary','John','Mel'] 
grades = [76,95,77,78,99] 
bsdegrees = [1,1,0,0,1] 
msdegrees = [2,1,0,0,0] 
phddegrees = [0,1,0,0,0]

In [2]:
DegreeList = zip(names,grades,bsdegrees,msdegrees,phddegrees) 
df = pd.DataFrame(data=DegreeList,        
                  columns=['Names','Grades','BSDegrees','MSDegrees','PHDDegrees']) 
df

     Names  Grades  BSDegrees  MSDegrees  PHDDegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0

In [3]:
# number of values
df.count()

Names         5
Grades        5
BSDegrees     5
MSDegrees     5
PHDDegrees    5
dtype: int64

In [4]:
# arithmetic average
df.mean()

Grades        85.0
BSDegrees      0.6
MSDegrees      0.6
PHDDegrees     0.2
dtype: float64

In [5]:
# standard deviation
df.std()

Grades        11.067972
BSDegrees      0.547723
MSDegrees      0.894427
PHDDegrees     0.447214
dtype: float64

In [6]:
# minimum
df.min()

Names         Bob
Grades         76
BSDegrees       0
MSDegrees       0
PHDDegrees      0
dtype: object

In [7]:
# maximum
df.max()

Names         Mel
Grades         99
BSDegrees       1
MSDegrees       2
PHDDegrees      1
dtype: object

In [8]:
 # first quartile
df.quantile(.25)

Grades        77.0
BSDegrees      0.0
MSDegrees      0.0
PHDDegrees     0.0
Name: 0.25, dtype: float64

In [9]:
 # second quartile
df.quantile(.5)

Grades        78.0
BSDegrees      1.0
MSDegrees      0.0
PHDDegrees     0.0
Name: 0.5, dtype: float64

In [10]:
 # third quartile
df.quantile(.75)

Grades        95.0
BSDegrees      1.0
MSDegrees      1.0
PHDDegrees     0.0
Name: 0.75, dtype: float64