In [3]:
import pandas as pd 
import numpy as np 
import glob
all_data = pd.DataFrame() 
for f in glob.glob(r"C:\Users\maria\OneDrive\Documents\Data Visualization\datasets\weekly_call_data\weekdata*.xlsx"):  
    df = pd.read_excel(f)   
    all_data = all_data.append(df,ignore_index=True)

In [5]:
all_data.describe()

          Unnamed: 0   CallDuration
count  129588.000000  129588.000000
mean      688.521476      12.517147
std       457.631443       6.925404
min         0.000000       1.000000
25%       311.000000       7.000000
50%       623.000000      13.000000
75%      1009.000000      19.000000
max      1944.000000      24.000000